
synplify/.recordref

synplify/dm/

*.areasrr

*.edn

*.fse

*.htm

*.srd

*.srm

*.srr

*.db

*.srs

*.rpt

*.lpf

*.txt

*.prs

*.rptmap

synplify/synlog/

synplify/syntmp/

synplify/synwork/

*.log

*.mti

modelSim/transcript

*.wlf

software/program.mem
